@layer foundation {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * {
    border-width: 0;
  }
  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    scrollbar-gutter: stable;
    // scroll-behavior: smooth;
    &:has(dialog:modal[open]) {
      overflow: clip;
    }
  }
  body {
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: clip;
    text-autospace: normal;
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: inherit;
    font-weight: inherit;
    overflow-wrap: break-word;
  }
  ol,
  ul {
    list-style: none;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }
  img,
  picture,
  svg,
  video {
    max-inline-size: 100%;
    block-size: auto;
  }
  button {
    all: unset;
    overflow: visible;
    cursor: pointer;
    touch-action: manipulation;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
    font-size: 1rem;
  }
  textarea {
    resize: vertical;
    resize: block;
  }
  button,
  label,
  select,
  summary {
    cursor: pointer;
  }
  :disabled {
    cursor: not-allowed;
  }
  summary {
    display: list-item;
  }
  a {
    color: inherit;
  }
  hr {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
  }
  input,
  textarea,
  pre,
  time {
    text-autospace: no-autospace;
  }

  /* -------------------------------
  *  printing mode
  * ---------------------------- */
  @media print {
    html body {
      zoom: 65%;
    }
  }
  
}
