/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-background-alert: var(--su-palette-color__violet--0);
  --su-color-border-alert: var(--su-palette-color__violet--4);
  --su-color-text-alert: var(--su-palette-color__violet--8);
  --su-color-icon-alert: var(--su-palette-color__violet--4);
  --su-color-close-alert: var(--su-palette-color__violet--2);
}

/* -------------------------------
 *  alert
 * ---------------------------- */
.su-alert,
.su-alert-error,
.su-alert-warning,
.su-alert-success,
.su-alert-info,
.su-alert-negative {
  width: 100%;
  padding: 1em;
  border-radius: var(--su-size-5s);
  border: 1px solid;
  &.su-alert-add-icon {
    padding-left: calc(1.5em + 1lh);
    position: relative;
    &::before {
      content: '';
      width: 1lh;
      height: 1lh;
      position: absolute;
      left: 1em;
      top: 1em;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
  &.su-alert-add-close {
    padding-right: calc(1.5em + 1lh);
    position: relative;
    .su-alert-close {
      width: 1lh;
      height: 1lh;
      position: absolute;
      right: 1em;
      top: 1em;
      color: transparent;
      display: inline-block;
      border-radius: 100%;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 1em;
        height: 2px;
        border-radius: 1px;
        left: calc(50% - 0.5em);
        top: calc(50% - 1px);
      }
      &::before {
        rotate: 45deg;
      }
      &::after {
        rotate: -45deg;
      }
    }
  }
}
.su-alert {
  background: var(--su-color-background-alert);
  border-color: var(--su-color-border-alert);
  color: var(--su-color-text-alert);
  &.su-alert-add-icon {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik0xMiAxM2E1IDUgMCAxIDAgMC0xMCA1IDUgMCAwIDAgMCAxME0xMiAxNWMtNyAwLTkgNC05IDR2MWExIDEgMCAwIDAgMSAxaDE2YTEgMSAwIDAgMCAxLTF2LTFzLTItNC05LTQiLz48L2c+PC9zdmc+');
      background-color: var(--su-color-icon-alert);
    }
  }
  &.su-alert-add-close {
    .su-alert-close {
      &::before,
      &::after {
        background: var(--su-color-close-alert);
      }
    }
  }
  &-error {
    background: var(--su-status-color__error--0);
    border-color: var(--su-status-color__error--4);
    color: var(--su-status-color__error--8);
    &.su-alert-add-icon {
      &::before {
        mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIxIDEyYTkgOSAwIDEgMS0xOCAwIDkgOSAwIDAgMSAxOCAwbS0zLjM5NC00LjE5MmE3IDcgMCAwIDEtOS43OTkgOS43OTl6bS0xLjQxNC0xLjQxNC05Ljc5OCA5Ljc5OGE3IDcgMCAwIDEgOS43OTktOS43OTkiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
        background-color: var(--su-status-color__error--4);
      }
    }
    &.su-alert-add-close {
      .su-alert-close {
        &::before,
        &::after {
          background: var(--su-status-color__error--2);
        }
      }
    }
  }
  &-warning {
    background: var(--su-status-color__warning--0);
    border-color: var(--su-status-color__warning--4);
    color: var(--su-status-color__warning--8);
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjk2IDQuNTZjLS4zOTUtLjc0Ny0xLjUyNS0uNzQ3LTEuOTIgMEwzLjExNSAxOS41MzNjLS4zNTcuNjc1LjE2MiAxLjQ2OC45NiAxLjQ2OGgxNS44NWMuNzk4IDAgMS4zMTctLjc5My45Ni0xLjQ2OHpNMTEgOWExIDEgMCAxIDEgMiAwdjVhMSAxIDAgMSAxLTIgMHptMiA5YTEgMSAwIDEgMS0yIDAgMSAxIDAgMCAxIDIgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
      background-color: var(--su-status-color__warning--4);
    }
    &.su-alert-add-close {
      .su-alert-close {
        &::before,
        &::after {
          background: var(--su-status-color__warning--4);
        }
      }
    }
  }
  &-success {
    background: var(--su-status-color__success--0);
    border-color: var(--su-status-color__success--4);
    color: var(--su-status-color__success--8);
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4bTUuMjUyLTEyLjdjLjM4Mi0uNCAxLS40IDEuMzgyIDBsLjEwMS4xMDZjLjM4Mi40LjM4MiAxLjA0NyAwIDEuNDQ2bC03LjUxNyA3Ljg3MmEuOTUuOTUgMCAwIDEtMS4zODEgMGwtNC41NS00Ljc2NmExLjA1NyAxLjA1NyAwIDAgMSAwLTEuNDQ2bC4xLS4xMDdjLjM4Mi0uMzk5IDEtLjM5OSAxLjM4MiAwbDMuNzU5IDMuOTM2eiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
      background-color: var(--su-status-color__success--4);
    }
    &.su-alert-add-close {
      .su-alert-close {
        &::before,
        &::after {
          background: var(--su-status-color__success--3);
        }
      }
    }
  }
  &-info {
    background: var(--su-status-color__info--0);
    border-color: var(--su-status-color__info--4);
    color: var(--su-status-color__info--8);
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4bTEtMTMuNWExLjUgMS41IDAgMSAxLTMgMCAxLjUgMS41IDAgMCAxIDMgME0xMCAxMmExIDEgMCAwIDEgMS0xaDFhMSAxIDAgMCAxIDEgMXY0YTEgMSAwIDEgMSAwIDJoLTJhMSAxIDAgMSAxIDAtMnYtM2ExIDEgMCAwIDEtMS0xIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L2c+PC9zdmc+');
      background-color: var(--su-status-color__info--4);
    }
    &.su-alert-add-close {
      .su-alert-close {
        &::before,
        &::after {
          background: var(--su-status-color__info--3);
        }
      }
    }
  }
  &-negative {
    background: var(--su-status-color__negative--0);
    border-color: var(--su-status-color__negative--4);
    color: var(--su-status-color__negative--8);
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik04LjQ2NCA4LjQ2NGExIDEgMCAwIDEgMS40MTUgMEwxMiAxMC41ODZsMi4xMjEtMi4xMjJhMSAxIDAgMCAxIDEuNDE1IDEuNDE1TDEzLjQxNCAxMmwyLjEyMiAyLjEyMWExIDEgMCAwIDEtMS40MTUgMS40MTVMMTIgMTMuNDE0bC0yLjEyMSAyLjEyMmExIDEgMCAxIDEtMS40MTUtMS40MTVMMTAuNTg2IDEyIDguNDY0IDkuODc5YTEgMSAwIDAgMSAwLTEuNDE1Ii8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjEgMTJhOSA5IDAgMSAxLTE4IDAgOSA5IDAgMCAxIDE4IDBtLTIgMGE3IDcgMCAxIDEtMTQgMCA3IDcgMCAwIDEgMTQgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
      background-color: var(--su-status-color__negative--4);
    }
    &.su-alert-add-close {
      .su-alert-close {
        &::before,
        &::after {
          background: var(--su-status-color__negative--3);
        }
      }
    }
  }
}
