@use '../../foundation/import' as *;

@layer component {

  /* -------------------------------
   *  breadcrumb list
   * ---------------------------- */
  .su-breadcrumb,
  .su-breadcrumb-arrow,
  .su-breadcrumb-slash {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
    & > * {
      &:not(:first-child) {
        padding-left: 1.5em;
        position: relative;
        &::before {
          display: block;
          position: absolute;
          left: 0;
          top: calc(50% - 0.5em);
          line-height: 1;
        }
      }
    }
  }
  .su-breadcrumb,
  .su-breadcrumb-arrow {
    & > * {
      &:not(:first-child) {
        &::before {
          content: '>';
        }
      }
    }
  }
  .su-breadcrumb-slash {
    & > * {
      &:not(:first-child) {
        &::before {
          content: '/';
        }
      }
    }
  }

}
