/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-text-datetime: var(--su-gray-color__mono--4);
  --su-color-icon-datetime: var(--su-gray-color__mono--3);
}

/* -------------------------------
 *  datetime
 * ---------------------------- */
.su-datetime-inline {
  display: inline-block;
  font-style: var(--su-font-italic);
  color: var(--su-color-text-datetime);
  &.su-datetime-add-icon {
    &-date,
    &-time {
      font-style: normal;
      padding: 0 0 0 1.25lh;
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 1lh;
        height: 1lh;
        font-family: "startify-ui icons";
        color: var(--su-color-icon-datetime);
        line-height: 1;
        font-size: calc(1.25em * 1.44);
      }
    }
    &-date {
      &::before {
        content: "\e903";
      }
    }
    &-time {
      &::before {
        content: "\e910";
      }
    }
  }
}
