@use '../../foundation/import' as *;

/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-selectbox-border: var(--su-gray-color__mono--4);
  --su-color-selectbox-data: var(--su-default-font-color);
  --su-color-selectbox-icon: var(--su-default-font-color);
  --su-size-selectbox-radius: var(--su-size-5s);
}

/* -------------------------------
 *  selectbox
 * ---------------------------- */
.su-form-selectbox {
  border: 1px solid var(--su-color-selectbox-border);
  border-radius: var(--su-size-selectbox-radius);
  color: var(--su-color-selectbox-data);
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  select {
    appearance: none;
    &:focus-visible {
      outline: none;
    }
  }
  &:not(:has(select[multiple])) {
    position: relative;
    &::before,
    &::after {
      content: '';
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background: var(--su-color-selectbox-icon);
      position: absolute;
      top: calc(50% - 1px);
      right: 1em;
    }
    &::before {
      rotate: 45deg;
      translate: -31% 0;
    }
    &::after {
      rotate: -45deg;
      translate: 31% 0;
    }
    select {
      padding: 0.5em 3em 0.5em 1em;
    }
  }
  &:has(select:focus-visible) {
    outline: 1px solid var(--su-color-selectbox-border);
  }
  &:has(select[multiple]) {
    select {
      padding: 0.5em 1em 0.5em 1em;
    }
    option {
      padding: 0 0 0 1.75em;
      margin: 0.5em 0.5em 0.5em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:checked {
        position: relative;
        background: var(--su-status-color__success--0);
        &::before {
          content: '\e90f';
          font-family: 'startify-ui icons';
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1lh;
          color: var(--su-status-color__success--4);
        }
      }
    }
    optgroup {
      margin: 0.5em 0.5em 0.5em 0;
      padding: 0.5em 0 0 0;
      border-top: 1px dotted var(--su-color-selectbox-border);
      option {
        margin: 0.5em 0;
        &:first-child {
          margin-top: 0.5em;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
