@use '../../foundation/import' as *;

/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-fill-button-file-input: var(--su-palette-color__pink-red--4);
  --su-color-fill-button-file-input-hover: var(--su-palette-color__pink-red--2);
  --su-color-fill-button-file-input-active: var(--su-palette-color__pink-red--6);
  --su-color-ring-button-file-input-focus: var(--su-palette-color__pink-red--3);
  --su-color-text-button-file-input: var(--su-color-white);
  --su-size-text-button-file-input: var(--su-size-r);
  --su-size-radius-button-file-input: var(--su-size-3s);
  --su-color-bg-drop-area-file-input: var(--su-gray-color__mono--1);
  --su-color-border-drop-area-file-input: var(--su-gray-color__mono--4);
  --su-color-bg-drop-area-file-input-hover: var(--su-gray-color__mono--3);
  --su-color-ring-drop-area-file-input-focus: var(--su-gray-color__mono--3);
  --su-color-text-drop-area-file-input: var(--su-gray-color__mono--5);
  --su-size-height-drop-area-file-input: 160px;
  --su-size-width-drop-area-file-input: 480px;
  --su-size-radius-drop-area-file-input: var(--su-size-3s);
  --su-size-thumbnail-preview-file-input: 120px;
}

@layer component {

  /* -------------------------------
   *  file input
   * ---------------------------- */
  .su-form-file-input {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: start;
    row-gap: 1em;
    input[type='file'] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      @include hover-style {
        cursor: pointer;
      }
    }
  }

  /* -------------------------------
   *  file input button
   * ---------------------------- */
  .su-form-file-input-button {
    display: inline-block;
    width: auto;
    background: var(--su-color-fill-button-file-input);
    color: var(--su-color-text-button-file-input);
    font-weight: bold;
    padding: 1em;
    border: none;
    border-radius: var(--su-size-radius-button-file-input);
    font-size: var(--su-size-text-button-file-input);
    margin-right: 0.5em;
    line-height: 1.2;
    box-sizing: border-box;
    touch-action: manipulation;
    user-select: none;
    transition: transition(background), transition(color);
    position: relative;
    outline-offset: 4px;
    @include hover-style {
      background: var(--su-color-fill-button-file-input-hover);
    }
    &:active {
      background: var(--su-color-fill-button-file-input-active);
    }
    &:has(input[type='file']:focus-visible) {
      outline: 2px solid var(--su-color-ring-button-file-input-focus);
    }
  }

  /* -------------------------------
   *  file input drop area
   * ---------------------------- */
  .su-form-file-input-file-drop-area {
    width: var(--su-size-width-drop-area-file-input);
    height: var(--su-size-height-drop-area-file-input);
    max-width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: var(--su-size-radius-drop-area-file-input);
    border: 1px dashed var(--su-color-border-drop-area-file-input);
    color: var(--su-color-text-drop-area-file-input);
    position: relative;
    outline-offset: 4px;
    &::before {
      content: '';
      position: absolute;
      top: var(--su-size-5s);
      left: var(--su-size-5s);
      width: calc(100% - var(--su-size-4s));
      height: calc(100% - var(--su-size-4s));
      background: var(--su-color-bg-drop-area-file-input);
      opacity: 0.5;
      border-radius: calc(var(--su-size-radius-drop-area-file-input) - var(--su-size-5s));
      z-index: 1;
      transition: transition(background), transition(color);
    }
    & > *:not(input[type='file']) {
      position: relative;
      z-index: 2;
    }
    @include hover-style {
      &::before {
        background: var(--su-color-bg-drop-area-file-input-hover);
      }
    }
    &:has(input[type='file']:focus-visible) {
      outline: 2px solid var(--su-color-ring-drop-area-file-input-focus);
    }
  }

  /* -------------------------------
   *  file input list
   * ---------------------------- */
  .su-form-file-input-list {
    display: none;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 0.25em;
  }
  .su-form-file-input-list-item {
    display: grid;
    grid-template-columns: 1.5em minmax(0, 1fr);
    column-gap: 1em;
    align-items: center;
  }
  .su-form-file-input-file-name {
    font-size: 0.75em;
  }
  .su-form-file-input-file-remove {
    font-size: 1.75em;
    line-height: 1;
    display: grid;
    place-items: center;
    .su-form-file-input-file-remove-icon {
      &::before {
        color: var(--su-status-color__negative--4);
      }
    }
  }

  /* -------------------------------
   *  file input thumbnail preview
   * ---------------------------- */
  .su-form-file-input-thumbnail-preview {
    display: none;
    flex-wrap: wrap;
    column-gap: var(--su-size-5s);
    row-gap: var(--su-size-5s);
    justify-content: flex-start;
    align-items: stretch;
  }
  .su-form-file-input-thumbnail-preview-thumbnail {
    position: relative;
    width: max(80px, var(--su-size-thumbnail-preview-file-input));
    height: max(80px, var(--su-size-thumbnail-preview-file-input));
    // background: #ddd;
  }
  .su-form-file-input-thumbnail-preview-duration,
  .su-form-file-input-thumbnail-preview-remove {
    position: absolute;
  }
  .su-form-file-input-thumbnail-preview-image,
  .su-form-file-input-thumbnail-preview-canvas {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .su-form-file-input-thumbnail-preview-duration {
    padding: var(--su-size-5s);
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: var(--su-size-2s);
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(0 0 0 / 60%) 10%, rgb(0 0 0 / 0%) 45%);
    color: var(--su-color-white);
    text-shadow: 0 0 2px rgb(0 0 0 / 50%);
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
  }
  .su-form-file-input-thumbnail-preview-remove {
    left: var(--su-size-5s);
    top: var(--su-size-5s);
    width: 1.5rem;
    height: 1.5rem;
    color: var(--su-color-white);
    line-height: 1;
    display: grid;
    place-items: center;
    background: var(--su-color-white);
    border-radius: 100%;
    .su-form-file-input-file-remove-icon {
      font-size: 1.5rem;
      &::before {
        color: var(--su-status-color__negative--4);
      }
    }
  }
  .su-form-file-input-thumbnail-preview-file {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: var(--su-color-white);
    border: 1px solid var(--su-gray-color__mono--2);
    .su-form-file-input-thumbnail-preview-file-icon {
      font-size: 40px;
      &::before {
        color: var(--su-gray-color__mono--4);
      }
    }
  }

}
