@use '../../foundation/import' as *;

/* -------------------------------
 *  flexbox
 * ---------------------------- */
.su-flex-start-start,
.su-flex-start-center,
.su-flex-start-end,
.su-flex-start-stretch,
.su-flex-start-baseline {
  display: flex;
  justify-content: flex-start;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: flex-start;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: flex-start;
    }
  }
}
.su-flex-center-start,
.su-flex-center-center,
.su-flex-center-end,
.su-flex-center-stretch,
.su-flex-center-baseline {
  display: flex;
  justify-content: center;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: center;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: center;
    }
  }
}
.su-flex-end-start,
.su-flex-end-center,
.su-flex-end-end,
.su-flex-end-stretch,
.su-flex-end-baseline {
  display: flex;
  justify-content: flex-end;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: flex-end;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: flex-end;
    }
  }
}
.su-flex-between-start,
.su-flex-between-center,
.su-flex-between-end,
.su-flex-between-stretch,
.su-flex-between-baseline {
  display: flex;
  justify-content: space-between;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: space-between;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}
.su-flex-around-start,
.su-flex-around-center,
.su-flex-around-end,
.su-flex-around-stretch,
.su-flex-around-baseline {
  display: flex;
  justify-content: space-around;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: space-around;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: space-around;
    }
  }
}
.su-flex-evenly-start,
.su-flex-evenly-center,
.su-flex-evenly-end,
.su-flex-evenly-stretch,
.su-flex-evenly-baseline {
  display: flex;
  justify-content: space-evenly;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      justify-content: space-evenly;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
.su-flex-start-start,
.su-flex-center-start,
.su-flex-end-start,
.su-flex-between-start,
.su-flex-around-start,
.su-flex-evenly-start {
  display: flex;
  align-items: flex-start;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      align-items: flex-start;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      align-items: flex-start;
    }
  }
}
.su-flex-start-center,
.su-flex-center-center,
.su-flex-end-center,
.su-flex-between-center,
.su-flex-around-center,
.su-flex-evenly-center {
  display: flex;
  align-items: center;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      align-items: center;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      align-items: center;
    }
  }
}
.su-flex-start-end,
.su-flex-center-end,
.su-flex-end-end,
.su-flex-between-end,
.su-flex-around-end,
.su-flex-evenly-end {
  display: flex;
  align-items: flex-end;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      align-items: flex-end;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      align-items: flex-end;
    }
  }
}
.su-flex-start-stretch,
.su-flex-center-stretch,
.su-flex-end-stretch,
.su-flex-between-stretch,
.su-flex-around-stretch,
.su-flex-evenly-stretch {
  display: flex;
  align-items: stretch;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      align-items: stretch;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      align-items: stretch;
    }
  }
}
.su-flex-start-baseline,
.su-flex-center-baseline,
.su-flex-end-baseline,
.su-flex-between-baseline,
.su-flex-around-baseline,
.su-flex-evenly-baseline {
  display: flex;
  align-items: baseline;
  &--mobile {
    @include media-query(mobile-l) {
      display: flex;
      align-items: baseline;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      display: flex;
      align-items: baseline;
    }
  }
}
.su-flex-wrap {
  flex-wrap: wrap;
}
.su-flex-row {
  flex-direction: row;
  &--mobile {
    @include media-query(mobile-l) {
      flex-direction: row;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      flex-direction: row;
    }
  }
}
.su-flex-column {
  flex-direction: column;
  &--mobile {
    @include media-query(mobile-l) {
      flex-direction: column;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      flex-direction: column;
    }
  }
}
.su-flex-row-reverse {
  flex-direction: row-reverse;
  &--mobile {
    @include media-query(mobile-l) {
      flex-direction: row-reverse;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      flex-direction: row-reverse;
    }
  }
}
.su-flex-column-reverse {
  flex-direction: column-reverse;
  &--mobile {
    @include media-query(mobile-l) {
      flex-direction: column-reverse;
    }
  }
  &--desktop {
    @include media-query(mobile-l, min-width) {
      flex-direction: column-reverse;
    }
  }
}
.su-flex-grow {
  &-1 {
    flex-grow: 1;
  }
  &-0 {
    flex-grow: 0;
  }
}
.su-flex-shrink {
  &-1 {
    flex-shrink: 1;
  }
  &-0 {
    flex-shrink: 0;
  }
}
.su-flex-basis {
  &-0 {
    flex-basis: 0;
  }
}
