/* -------------------------------
 *  gap
 * ---------------------------- */
.su-gp-0 {
  gap: 0;
}
.su-gp-6s {
  gap: var(--su-size-6s);
}
.su-gp-5s {
  gap: var(--su-size-5s);
}
.su-gp-4s {
  gap: var(--su-size-4s);
}
.su-gp-3s {
  gap: var(--su-size-3s);
}
.su-gp-2s {
  gap: var(--su-size-2s);
}
.su-gp-s {
  gap: var(--su-size-s);
}
.su-gp-r {
  gap: var(--su-size-r);
}
.su-gp-m {
  gap: var(--su-size-m);
}
.su-gp-l {
  gap: var(--su-size-l);
}
.su-gp-2l {
  gap: var(--su-size-2l);
}
.su-gp-3l {
  gap: var(--su-size-3l);
}
.su-gp-4l {
  gap: var(--su-size-4l);
}
.su-gp-5l {
  gap: var(--su-size-5l);
}
.su-gp-6l {
  gap: var(--su-size-6l);
}
.su-gp-7l {
  gap: var(--su-size-7l);
}
.su-gp-8l {
  gap: var(--su-size-8l);
}
.su-gp-9l {
  gap: var(--su-size-9l);
}
.su-gp-10l {
  gap: var(--su-size-10l);
}

/* -------------------------------
 *  gap column
 * ---------------------------- */
.su-gpc-0 {
  column-gap: 0;
}
.su-gpc-6s {
  column-gap: var(--su-size-6s);
}
.su-gpc-5s {
  column-gap: var(--su-size-5s);
}
.su-gpc-4s {
  column-gap: var(--su-size-4s);
}
.su-gpc-3s {
  column-gap: var(--su-size-3s);
}
.su-gpc-2s {
  column-gap: var(--su-size-2s);
}
.su-gpc-s {
  column-gap: var(--su-size-s);
}
.su-gpc-r {
  column-gap: var(--su-size-r);
}
.su-gpc-m {
  column-gap: var(--su-size-m);
}
.su-gpc-l {
  column-gap: var(--su-size-l);
}
.su-gpc-2l {
  column-gap: var(--su-size-2l);
}
.su-gpc-3l {
  column-gap: var(--su-size-3l);
}
.su-gpc-4l {
  column-gap: var(--su-size-4l);
}
.su-gpc-5l {
  column-gap: var(--su-size-5l);
}
.su-gpc-6l {
  column-gap: var(--su-size-6l);
}
.su-gpc-7l {
  column-gap: var(--su-size-7l);
}
.su-gpc-8l {
  column-gap: var(--su-size-8l);
}
.su-gpc-9l {
  column-gap: var(--su-size-9l);
}
.su-gpc-10l {
  column-gap: var(--su-size-10l);
}

/* -------------------------------
 *  gap row
 * ---------------------------- */
.su-gpr-0 {
  row-gap: 0;
}
.su-gpr-6s {
  row-gap: var(--su-size-6s);
}
.su-gpr-5s {
  row-gap: var(--su-size-5s);
}
.su-gpr-4s {
  row-gap: var(--su-size-4s);
}
.su-gpr-3s {
  row-gap: var(--su-size-3s);
}
.su-gpr-2s {
  row-gap: var(--su-size-2s);
}
.su-gpr-s {
  row-gap: var(--su-size-s);
}
.su-gpr-r {
  row-gap: var(--su-size-r);
}
.su-gpr-m {
  row-gap: var(--su-size-m);
}
.su-gpr-l {
  row-gap: var(--su-size-l);
}
.su-gpr-2l {
  row-gap: var(--su-size-2l);
}
.su-gpr-3l {
  row-gap: var(--su-size-3l);
}
.su-gpr-4l {
  row-gap: var(--su-size-4l);
}
.su-gpr-5l {
  row-gap: var(--su-size-5l);
}
.su-gpr-6l {
  row-gap: var(--su-size-6l);
}
.su-gpr-7l {
  row-gap: var(--su-size-7l);
}
.su-gpr-8l {
  row-gap: var(--su-size-8l);
}
.su-gpr-9l {
  row-gap: var(--su-size-9l);
}
.su-gpr-10l {
  row-gap: var(--su-size-10l);
}
