/* -------------------------------
 *  CSS variables
 * ---------------------------- */
:root {
  --su-color-icon-text: var(--su-default-font-color);
}

/* -------------------------------
 *  icon
 * ---------------------------- */
[class^='su-icon-'] {
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--su-color-icon-text);
    mask-size: contain;
    mask-position: center bottom;
    mask-repeat: no-repeat;
    display: inline-block;
    left: 0;
    top: 12.5%;
    position: absolute;
  }
}
.su-icon {
  &-user {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik0xMiAxM2E1IDUgMCAxIDAgMC0xMCA1IDUgMCAwIDAgMCAxME0xMiAxNWMtNyAwLTkgNC05IDR2MWExIDEgMCAwIDAgMSAxaDE2YTEgMSAwIDAgMCAxLTF2LTFzLTItNC05LTQiLz48L2c+PC9zdmc+');
    }
  }
  &-error {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIxIDEyYTkgOSAwIDEgMS0xOCAwIDkgOSAwIDAgMSAxOCAwbS0zLjM5NC00LjE5MmE3IDcgMCAwIDEtOS43OTkgOS43OTl6bS0xLjQxNC0xLjQxNC05Ljc5OCA5Ljc5OGE3IDcgMCAwIDEgOS43OTktOS43OTkiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
    }
  }
  &-warning {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjk2IDQuNTZjLS4zOTUtLjc0Ny0xLjUyNS0uNzQ3LTEuOTIgMEwzLjExNSAxOS41MzNjLS4zNTcuNjc1LjE2MiAxLjQ2OC45NiAxLjQ2OGgxNS44NWMuNzk4IDAgMS4zMTctLjc5My45Ni0xLjQ2OHpNMTEgOWExIDEgMCAxIDEgMiAwdjVhMSAxIDAgMSAxLTIgMHptMiA5YTEgMSAwIDEgMS0yIDAgMSAxIDAgMCAxIDIgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
  &-success {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4bTUuMjUyLTEyLjdjLjM4Mi0uNCAxLS40IDEuMzgyIDBsLjEwMS4xMDZjLjM4Mi40LjM4MiAxLjA0NyAwIDEuNDQ2bC03LjUxNyA3Ljg3MmEuOTUuOTUgMCAwIDEtMS4zODEgMGwtNC41NS00Ljc2NmExLjA1NyAxLjA1NyAwIDAgMSAwLTEuNDQ2bC4xLS4xMDdjLjM4Mi0uMzk5IDEtLjM5OSAxLjM4MiAwbDMuNzU5IDMuOTM2eiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
  &-info {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4bTEtMTMuNWExLjUgMS41IDAgMSAxLTMgMCAxLjUgMS41IDAgMCAxIDMgME0xMCAxMmExIDEgMCAwIDEgMS0xaDFhMSAxIDAgMCAxIDEgMXY0YTEgMSAwIDEgMSAwIDJoLTJhMSAxIDAgMSAxIDAtMnYtM2ExIDEgMCAwIDEtMS0xIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L2c+PC9zdmc+');
    }
  }
  &-close {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik04LjQ2NCA4LjQ2NGExIDEgMCAwIDEgMS40MTUgMEwxMiAxMC41ODZsMi4xMjEtMi4xMjJhMSAxIDAgMCAxIDEuNDE1IDEuNDE1TDEzLjQxNCAxMmwyLjEyMiAyLjEyMWExIDEgMCAwIDEtMS40MTUgMS40MTVMMTIgMTMuNDE0bC0yLjEyMSAyLjEyMmExIDEgMCAxIDEtMS40MTUtMS40MTVMMTAuNTg2IDEyIDguNDY0IDkuODc5YTEgMSAwIDAgMSAwLTEuNDE1Ii8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMjEgMTJhOSA5IDAgMSAxLTE4IDAgOSA5IDAgMCAxIDE4IDBtLTIgMGE3IDcgMCAxIDEtMTQgMCA3IDcgMCAwIDEgMTQgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
  &-add {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4bS4yLTE1YTEgMSAwIDAgMSAxIDF2My44SDE3YTEgMSAwIDAgMSAxIDF2LjRhMSAxIDAgMCAxLTEgMWgtMy44VjE3YTEgMSAwIDAgMS0xIDFoLS40YTEgMSAwIDAgMS0xLTF2LTMuOEg3YTEgMSAwIDAgMS0xLTF2LS40YTEgMSAwIDAgMSAxLTFoMy44VjdhMSAxIDAgMCAxIDEtMXoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
    }
  }
  &-delete {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyIDIxYTkgOSAwIDEgMCAwLTE4IDkgOSAwIDAgMCAwIDE4TTcgMTFhMSAxIDAgMSAwIDAgMmgxMGExIDEgMCAxIDAgMC0yeiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
  &-email {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIG1hc2s9InVybCgjYSkiPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIwIDVhMSAxIDAgMCAxIDEgMXYxMmExIDEgMCAwIDEtMSAxSDRhMSAxIDAgMCAxLTEtMVY2YTEgMSAwIDAgMSAxLTF6bS0xIDIuMjIyLTYuMjU3IDYuOTUyYTEgMSAwIDAgMS0xLjQ4NiAwTDUgNy4yMjJWMTdoMTR6bS03IDQuOTVMNy44MjggN2g4LjM0NHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
    }
  }
  &-time {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik0xMCA3YTEgMSAwIDEgMSAyIDB2NWg0YTEgMSAwIDEgMSAwIDJoLTVhMSAxIDAgMCAxLTEtMXoiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAyMWE5IDkgMCAwIDAgNy41NTMtMTMuODk2bC41NjgtLjU2OGExIDEgMCAwIDAgMC0xLjQxNWwtMS40MTQtMS40MTRhMSAxIDAgMCAwLTEuNDE0IDBsLS42MDcuNjA3QTguOTYgOC45NiAwIDAgMCAxMiAzYTguOTYgOC45NiAwIDAgMC00Ljc5MSAxLjM4bC0uNjczLS42NzNhMSAxIDAgMCAwLTEuNDE1IDBMMy43MDcgNS4xMjFhMSAxIDAgMCAwIDAgMS40MTRsLjY3My42NzNBOSA5IDAgMCAwIDEyIDIxbTAtMmE3IDcgMCAxIDAgMC0xNCA3IDcgMCAwIDAgMCAxNCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
  &-date {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48bWFzayBpZD0iYSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB4PSIwIiB5PSIwIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBzdHlsZT0ibWFzay10eXBlOmFscGhhIj48cGF0aCBmaWxsPSIjRDlEOUQ5IiBkPSJNMCAwaDI0djI0SDB6Ii8+PC9tYXNrPjxnIGZpbGw9IiMwMDAiIG1hc2s9InVybCgjYSkiPjxwYXRoIGQ9Ik03IDE0YTEgMSAwIDEgMSAyIDAgMSAxIDAgMCAxLTIgME0xMiAxM2ExIDEgMCAxIDAgMCAyIDEgMSAwIDAgMCAwLTJNMTUgMTRhMSAxIDAgMSAxIDIgMCAxIDEgMCAwIDEtMiAwTTggMTZhMSAxIDAgMSAwIDAgMiAxIDEgMCAwIDAgMC0yTTExIDE3YTEgMSAwIDEgMSAyIDAgMSAxIDAgMCAxLTIgME0xNiAxNmExIDEgMCAxIDAgMCAyIDEgMSAwIDAgMCAwLTIiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04IDNhMSAxIDAgMCAwLTEgMXYxSDRhMSAxIDAgMCAwLTEgMXYxNGExIDEgMCAwIDAgMSAxaDE2YTEgMSAwIDAgMCAxLTFWNmExIDEgMCAwIDAtMS0xaC0zVjRhMSAxIDAgMSAwLTIgMHYxSDlWNGExIDEgMCAwIDAtMS0xbS0zIDdWN2gxNHYzem0wIDJ2N2gxNHYtN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
    }
  }
  &-power {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBmaWxsPSIjMDAwIiBtYXNrPSJ1cmwoI2EpIj48cGF0aCBkPSJNMTEuOTkgM2gtLjAyMy4wNjYtLjAyMkExIDEgMCAwIDEgMTMgNHY4YTEgMSAwIDEgMS0yIDBWNGExIDEgMCAwIDEgLjk5LTEiLz48cGF0aCBkPSJNMTIgMTlhNyA3IDAgMCAwIDQuNjcyLTEyLjIxM2MtLjQxLS4zNjgtLjU0LS45ODQtLjIzNC0xLjQ0M3MuOTMyLS41ODggMS4zNTUtLjIzMmE5IDkgMCAxIDEtMTEuNTg1IDBjLjQyMi0uMzU2IDEuMDQ4LS4yMjggMS4zNTQuMjMyLjMwNy40NTkuMTc3IDEuMDc1LS4yMzQgMS40NDNBNyA3IDAgMCAwIDEyIDE5Ii8+PC9nPjwvc3ZnPg==');
    }
  }
  &-document {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBmaWxsPSIjMDAwIiBtYXNrPSJ1cmwoI2EpIj48cGF0aCBkPSJNOCA3YTEgMSAwIDAgMCAwIDJoOGExIDEgMCAxIDAgMC0yek03IDEyYTEgMSAwIDAgMSAxLTFoOGExIDEgMCAxIDEgMCAySDhhMSAxIDAgMCAxLTEtMU04IDE1YTEgMSAwIDEgMCAwIDJoNGExIDEgMCAxIDAgMC0yeiIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMgNGExIDEgMCAwIDEgMS0xaDE2YTEgMSAwIDAgMSAxIDF2MTZhMSAxIDAgMCAxLTEgMUg0YTEgMSAwIDAgMS0xLTF6bTIgMTVWNWgxNHYxNHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=');
    }
  }
  &-download {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBmaWxsPSIjMDAwIiBtYXNrPSJ1cmwoI2EpIj48cGF0aCBkPSJtMTIuNzA3IDE2LjcwNyA0LjM2NC00LjM2NGExIDEgMCAwIDAtMS40MTQtMS40MTRMMTMgMTMuNTg2VjRhMSAxIDAgMCAwLTIgMHY5LjU4NmwtMi42NTctMi42NTdhMSAxIDAgMCAwLTEuNDE0IDEuNDE0bDQuMzY0IDQuMzY0YTEgMSAwIDAgMCAxLjQxNCAwIi8+PHBhdGggZD0iTTMgMjBhMSAxIDAgMCAwIDEgMWgxNmExIDEgMCAwIDAgMS0xdi00YTEgMSAwIDEgMC0yIDB2M0g1di0zYTEgMSAwIDEgMC0yIDB6Ii8+PC9nPjwvc3ZnPg==');
    }
  }
  &-upload {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBmaWxsPSIjMDAwIiBtYXNrPSJ1cmwoI2EpIj48cGF0aCBkPSJNMTEuMjkzIDMuMjkzIDYuOTI5IDcuNjU3QTEgMSAwIDAgMCA4LjM0MyA5LjA3TDExIDYuNDE0VjE2YTEgMSAwIDEgMCAyIDBWNi40MTRsMi42NTcgMi42NTdhMSAxIDAgMSAwIDEuNDE0LTEuNDE0bC00LjM2NC00LjM2NGExIDEgMCAwIDAtMS40MTQgMCIvPjxwYXRoIGQ9Ik0zIDIwYTEgMSAwIDAgMCAxIDFoMTZhMSAxIDAgMCAwIDEtMXYtNGExIDEgMCAxIDAtMiAwdjNINXYtM2ExIDEgMCAxIDAtMiAweiIvPjwvZz48L3N2Zz4=');
    }
  }
  &-bell {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBmaWxsPSIjMDAwIiBtYXNrPSJ1cmwoI2EpIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCA1YTIgMiAwIDEgMSA0IDB2LjA4M2MyLjgzOC40NzYgNSAyLjk0NCA1IDUuOTE3djVoMWExIDEgMCAxIDEgMCAySDRhMSAxIDAgMSAxIDAtMmgxdi01YTYgNiAwIDAgMSA1LTUuOTE3em0zIDJhNCA0IDAgMCAxIDQgNHY1SDd2LTVhNCA0IDAgMCAxIDQtNHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjxwYXRoIGQ9Ik0xMyAyMWEyIDIgMCAwIDAgMi0ySDlhMiAyIDAgMCAwIDIgMnoiLz48L2c+PC9zdmc+');
    }
  }
  &-search {
    &::before {
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSI+PG1hc2sgaWQ9ImEiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgeD0iMCIgeT0iMCIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSI+PHBhdGggZmlsbD0iI0Q5RDlEOSIgZD0iTTAgMGgyNHYyNEgweiIvPjwvbWFzaz48ZyBtYXNrPSJ1cmwoI2EpIj48cGF0aCBmaWxsPSIjMEIwQjBCIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC4xNDggMTUuNTU3YTYuOTcyIDYuOTcyIDAgMSAxIDEuNDA5LTEuNDA5bDUuMTUxIDUuMTUyYS45OTYuOTk2IDAgMCAxLTEuNDA4IDEuNDA4em0uODA1LTUuNTg1YTQuOTggNC45OCAwIDEgMS05Ljk2IDAgNC45OCA0Ljk4IDAgMCAxIDkuOTYgMCIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==');
    }
  }
}
